link(rel="stylesheet" href="/contact-block2.css")

section#block-contact.contact-block2
  .contact-block2-pattern
  .contact-block2-content
    h2 Свяжитесь с нами, если у Вас остались вопросы.
    a.btn.btn-primary.btn-lg.x-content-button(href="/#block-contact") Написать сообщение