extends _internal-base.pug

block breadcrumb-items
  li.breadcrumb-item
    span.breadcrumb-item 
      a.link.link-dark(href="/completed-projects.html") Выполненые работы
  li.breadcrumb-item
    span.breadcrumb-item.active Бизнес-центр “Транспортный”, г. Москва

block additional-links 
  .container.mt-4
    a.link(style="font-size: 14px; text-decoration: none; font-weight: 300" href="/completed-projects.html")
      img(src="/icon/arrow-left.svg")
      | &nbsp; Перейти ко всем выполненным работам

block page-title
  | Бизнес-центр “Транспортный”, г. Москва

block content-internal
  .container
    p Dictumst quisque sagittis purus sit. Maecenas sed enim ut sem. Varius sit amet mattis vulputate enim nulla aliquet. Arcu dictum varius duis at consectetur lorem donec. Leo vel orci porta non. Amet nulla facilisi morbi tempus. Eleifend donec pretium vulputate sapien nec sagittis aliquam malesuada. Viverra maecenas accumsan lacus vel facilisis volutpat est. Magna ac placerat vestibulum lectus mauris ultrices eros in cursus. Dui ut ornare lectus sit amet. Nullam ac tortor vitae purus faucibus ornare suspendisse sed.
    h3 Задача
    p Nulla posuere sollicitudin aliquam ultrices sagittis orci a scelerisque purus. A pellentesque sit amet porttitor eget dolor morbi non. Amet consectetur adipiscing elit ut aliquam. Sapien faucibus et molestie ac feugiat sed lectus. Sit amet facilisis magna etiam tempor orci eu.
    h3 Что было сделано
    p Dictumst quisque sagittis purus sit. Maecenas sed enim ut sem. Varius sit amet mattis vulputate enim nulla aliquet. Arcu dictum varius duis at consectetur lorem donec. Leo vel orci porta non. Amet nulla facilisi morbi tempus. Eleifend donec pretium vulputate sapien nec sagittis aliquam malesuada.
    p Viverra maecenas accumsan lacus vel facilisis volutpat est. Magna ac placerat vestibulum lectus mauris ultrices eros in cursus. Dui ut ornare lectus sit amet. Nullam ac tortor vitae purus faucibus ornare suspendisse sed.