.contact-block0 {
  display: flex;
  gap: 20px;
  border-radius: 30px 30px 0px 0px;
  background: #144A93;
  margin-top: 50px;
  justify-content: center;
}

.contact-block0-pattern {
  background: url(/img/pattern-cropped-horiz.png);
  min-height: 534px;
  width: 50%;
  flex: 1 1 auto;
}

.contact-block0-form {
  padding: 120px 60px 120px 0px;
  color: white;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contact-block0-form .form-control {
  padding: 20px 40px;
  border-radius: 30px;
  border: 2px solid #BDBDBD;
  font-size: 18px;
  font-weight: 600;
  background: none;
  height: 60px;
  color: white;
}

.contact-block0-form .form-control::placeholder {
  color: #bdbdbd;
}

.contact-block0-form .x-form-button {
  display: flex;
  width: 250px;
  height: 62px;
  padding: 20px 40px;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

@media screen and (max-width: 1024px) {
  .contact-block0-pattern {
    display: none;
  }
  .contact-block0-form {
    padding: 60px 30px;
  }
}