extends _base.pug

block content
  section.container.main-banner.mt-5.gap-4.d-xxl-block
    .row
      .col.main-banner-left.mt-auto.mb-auto(style="max-width: 640px;")
        .banner-text Умный климат.
          br
          | Кондиционирование
        .d-flex.align-items-end.gap-3
          span.fancy-badge.d-none.d-md-block высокого качества
          span.banner-text(style="line-height: 0.8;") и вентиляция
        h3.mt-5 Мы создаем атмосферу комфорта и тишины дома и в офисе
        .d-flex.flex-wrap(style="margin-top: 128px; gap: 10px")
          a.btn.btn-lg.btn-fancy(href="/#block-contact") Оставить заявку
          a.btn.btn-lg.x-btn-outline-secondary(href="/about-us.html") Узнать подробнее
      img.col-auto.d-none.d-xxl-block(src="/icon/star.svg" alt="")
  .block-advantages
    .advantage
      b.number 50+
      p.text крупнейших производителей сотрудничают с нами
    .advantage
      b.number 10+
      p.text лет успешной работы
    .advantage
      b.number 700+
      p.text успешно выполненных услуг по установке
  section.block-about-us-wrapper
    .container.block-about-us
      h2 О нас
      h5 Smart Climat - lorem ipsum dolor sit amet, consectetur adipiscing eli
      .about-us-text
        .about-us-text-block.b-right.
          Мы предлагаем проектирование, установку, обслуживание и ремонт систем кондиционирования и вентиляции для
          различных типов помещений, включая жилые, коммерческие и промышленные объекты. Наши высококвалифицированные
          специалисты обладают богатым опытом и знаниями в области кондиционирования и вентиляции.
        .about-us-text-block.b-left.
          Мы стремимся обеспечить комфортные условия внутри помещений, обеспечивая оптимальную температуру и качество
          воздуха. Наша команда работает внимательно и профессионально, чтобы гарантировать, что каждый проект
          выполняется в срок и в соответствии с высокими стандартами качества.
  section.container.block-services
    h2 Услуги
    .row.mt-4.row-cols-1.row-cols-lg-3.row-cols-md-2(style="row-gap: 20px")
      .col
        p(style="font-size: 18px;").
          Turpis egestas integer eget aliquet nibh praesent tristique magna sit. Consequat semper viverra nam libero.
          Cras sed felis eget velit aliquet sagittis. Orci dapibus ultrices in iaculis nunc sed augue lacus. Sagittis
          orci a scelerisque purus semper eget. Malesuada fames ac turpis egestas maecenas pharetra convallis posuere
          morbi. Vulputate enim nulla aliquet porttitor lacus. Tincidunt nunc pulvinar sapien et. Nisi est sit amet
          facilisis. Tellus mauris a diam maecenas. Quisque id diam vel quam elementum. Nullam ac tortor vitae purus
          faucibus ornare suspendisse sed.
      .col
        a.x-card(href="/service.html" style="background-image: url(/img/toobs.png);")
          .card-text
            span.link.link-light-blue.fs-4.fw-bold Кондиционирование
                  img(src="/icon/arrow-right.svg" alt="")
      .col
        a.x-card(href="/service.html" style="background-image: url(/img/toobs.png);")
          .card-text
            span.link.link-light-blue.fs-4.fw-bold Кондиционирование
                  img(src="/icon/arrow-right.svg" alt="")
      .col
        a.x-card(href="/service.html" style="background-image: url(/img/toobs.png);")
          .card-text
            span.link.link-light-blue.fs-4.fw-bold Кондиционирование
                  img(src="/icon/arrow-right.svg" alt="")
      .col
        a.x-card(href="/service.html" style="background-image: url(/img/toobs.png);")
          .card-text
            span.link.link-light-blue.fs-4.fw-bold Кондиционирование
                  img(src="/icon/arrow-right.svg" alt="")
      .col
        a.x-card(href="/service.html" style="background-image: url(/img/toobs.png);")
          .card-text
            span.link.link-light-blue.fs-4.fw-bold Кондиционирование
                  img(src="/icon/arrow-right.svg" alt="")
  section.block-our-projects.max-width-1440
    .container
      h2 Наши работы
      .row.mt-4.row-cols-1.row-cols-lg-2(style="row-gap: 20px")
        .col
          a.x-card(href="/completed-project.html" style="background-image: url(/img/toobs.png);")
            .card-text.smart-card-text
              .card-text-title Бизнес-центр “Транспортный”, г. Москва
              .card-text-description Dictumst quisque sagittis purus sit. Maecenas sed enim ut sem. Varius sit amet mattis vulputate enim nulla aliquet. 
        .col
          a.x-card(href="/completed-project.html" style="background-image: url(/img/toobs.png);")
            .card-text.smart-card-text
              .card-text-title Бизнес-центр “Транспортный”, г. Москва
              .card-text-description Dictumst quisque sagittis purus sit. Maecenas sed enim ut sem. Varius sit amet mattis vulputate enim nulla aliquet. 
        .col
          a.x-card(href="/completed-project.html" style="background-image: url(/img/toobs.png);")
            .card-text.smart-card-text
              .card-text-title Бизнес-центр “Транспортный”, г. Москва
              .card-text-description Dictumst quisque sagittis purus sit. Maecenas sed enim ut sem. Varius sit amet mattis vulputate enim nulla aliquet. 
        .col
          a.x-card(href="/completed-project.html" style="background-image: url(/img/toobs.png);")
            .card-text.smart-card-text
              .card-text-title Бизнес-центр “Транспортный”, г. Москва
              .card-text-description Dictumst quisque sagittis purus sit. Maecenas sed enim ut sem. Varius sit amet mattis vulputate enim nulla aliquet. 
    .container.mt-4.text-end
      a.link.link-dark.fs-4.fw-bold(href="/completed-projects.html") Ко всем работам&nbsp;&nbsp;&nbsp;
        img(src="/icon/arrow-right-circle.svg" alt="")
  include _contact-block0.pug