extends _internal-base.pug

block breadcrumb-items
  li.breadcrumb-item
    span.breadcrumb-item.active Услуги

block page-title
  | Услуги

block content-internal
  .container
    p Dictumst quisque sagittis purus sit. Maecenas sed enim ut sem. Varius sit amet mattis vulputate enim nulla aliquet. Arcu dictum varius duis at consectetur lorem donec. Leo vel orci porta non. Amet nulla facilisi morbi tempus. Eleifend donec pretium vulputate sapien nec sagittis aliquam malesuada.
    p Viverra maecenas accumsan lacus vel facilisis volutpat est. Magna ac placerat vestibulum lectus mauris ultrices eros in cursus. Dui ut ornare lectus sit amet. Nullam ac tortor vitae purus faucibus ornare suspendisse sed.
    .x-accordion-item 
      .x-accordion-item-header
        span Кондиционирование
        span.x-accordion-item-toggler
      .x-accordion-item-body
        hr
        img(style="float: right; border-radius: 30px; max-width: 522px; margin-left: 64px;" src="/img/img0.png")
        p Dictumst quisque sagittis purus sit. Maecenas sed enim ut sem. Varius sit amet mattis vulputate enim nulla aliquet. Arcu dictum varius duis at consectetur lorem donec. Leo vel orci porta non. Amet nulla facilisi morbi tempus. Eleifend donec pretium vulputate sapien nec sagittis aliquam malesuada. Viverra maecenas accumsan lacus vel facilisis volutpat est. Magna ac placerat vestibulum lectus mauris ultrices eros in cursus. Dui ut ornare lectus sit amet. Nullam ac tortor vitae purus faucibus ornare suspendisse sed.
        p Установка
        ul
          li Монтаж систем кондиционирования
          li Установка кондиционеров
          li Настенные кондиционеры
          li Кассетные кондиционеры
          li Канальные кондиционеры
          li Сплит-системы
        p Обслуживание и ремонт
        ul
          li Обслуживание систем кондиционирования
          li Пуско-наладка кондиционирования
        p Экспертиза
        ul
          li Экспертиза кондиционирования
        div.mt-5
          a.service-link(href="/service.html") Узнать больше
    .x-accordion-item 
      .x-accordion-item-header
        span Вентиляция
        span.x-accordion-item-toggler
      .x-accordion-item-body
        hr
        p Dictumst quisque sagittis purus sit. Maecenas sed enim ut sem. Varius sit amet mattis vulputate enim nulla aliquet. Arcu dictum varius duis at consectetur lorem donec. Leo vel orci porta non. Amet nulla facilisi morbi tempus. Eleifend donec pretium vulputate sapien nec sagittis aliquam malesuada. Viverra maecenas accumsan lacus vel facilisis volutpat est. Magna ac placerat vestibulum lectus mauris ultrices eros in cursus. Dui ut ornare lectus sit amet. Nullam ac tortor vitae purus faucibus ornare suspendisse sed.
    .x-accordion-item 
      .x-accordion-item-header
        span Дымоудаление
        span.x-accordion-item-toggler
      .x-accordion-item-body
        hr
        p Dictumst quisque sagittis purus sit. Maecenas sed enim ut sem. Varius sit amet mattis vulputate enim nulla aliquet. Arcu dictum varius duis at consectetur lorem donec. Leo vel orci porta non. Amet nulla facilisi morbi tempus. Eleifend donec pretium vulputate sapien nec sagittis aliquam malesuada. Viverra maecenas accumsan lacus vel facilisis volutpat est. Magna ac placerat vestibulum lectus mauris ultrices eros in cursus. Dui ut ornare lectus sit amet. Nullam ac tortor vitae purus faucibus ornare suspendisse sed.
    .x-accordion-item 
      .x-accordion-item-header
        span Услуга четвертая
        span.x-accordion-item-toggler
      .x-accordion-item-body
        hr
        p Dictumst quisque sagittis purus sit. Maecenas sed enim ut sem. Varius sit amet mattis vulputate enim nulla aliquet. Arcu dictum varius duis at consectetur lorem donec. Leo vel orci porta non. Amet nulla facilisi morbi tempus. Eleifend donec pretium vulputate sapien nec sagittis aliquam malesuada. Viverra maecenas accumsan lacus vel facilisis volutpat est. Magna ac placerat vestibulum lectus mauris ultrices eros in cursus. Dui ut ornare lectus sit amet. Nullam ac tortor vitae purus faucibus ornare suspendisse sed.