extends _internal-base.pug

block breadcrumb-items
  li.breadcrumb-item
    span.breadcrumb-item
      a.link.link-dark(href="/services.html") Услуги
  li.breadcrumb-item
    span.breadcrumb-item.active Вентиляция

block page-title
  | Монтаж систем вентиляции

block content-internal
  div.container
    p Монтаж систем вентиляции - это процесс установки и подключения системы, которая обеспечивает поступление свежего воздуха и удаление загрязненного воздуха из помещений. Вентиляционные системы необходимы для поддержания комфортных условий внутри здания, а также для обеспечения безопасности и здоровья людей, находящихся внутри.
    p Монтаж системы вентиляции начинается с разработки проекта, который определяет оптимальное количество и расположение воздуховодов, вентиляционных устройств и системы очистки воздуха. Затем происходит выбор и закупка необходимого оборудования, такого как вентиляторы, воздуховоды, решетки, фильтры и другие компоненты.
    h3 Этапы монтажа
    p 1. Подготовка помещения. В первую очередь необходимо подготовить помещение для установки вентиляционной системы. Это может включать в себя очистку и разметку мест, где будут устанавливаться воздуховоды и вентиляционные устройства.
    p 2. Установка воздуховодов. Воздуховоды являются основными элементами системы вентиляции, которые переносят воздух из одного места в другое. Они могут быть изготовлены из различных материалов, таких как металл, пластик или стекловолокно, и должны быть установлены с учетом проектных решений.
    p 3. Установка вентиляционных устройств. Вентиляционные устройства, такие как вентиляторы, решетки и клапаны, устанавливаются в соответствии с проектом. Они обеспечивают подачу и отвод воздуха в нужных направлениях и помогают регулировать его поток.
    p 4. Подключение системы. После установки воздуховодов и вентиляционных устройств необходимо подключить систему к источникам питания и управления. Это может включать в себя установку электрических проводов, регуляторов и других устройств.
    p 5. Тестирование и настройка. После завершения монтажа системы вентиляции необходимо провести тестирование и настройку, чтобы убедиться, что она работает правильно и соответствует требованиям проекта. Это может включать в себя проверку воздушного потока, шума, давления и других параметров.
    p.mt-5 Поэтому рекомендуется обратиться к специалистам, которые смогут правильно разработать и установить систему вентиляции в соответствии с требованиями и потребностями здания.
    h3 Стоимость стандартного монтажа
    table.x-table 
      thead
        tr
          th Наименование
          th Стоимость (рублей)
      tbody 
        tr 
          td Стандартный монтаж мagna ac placerat vestibulum
          td.text-center 5 000
        tr 
          td Стандартный монтаж lectus mauris ultrices eros in cursus
          td.text-center 15 000
        tr
          td Стандартный монтаж ornare lectus sit amet ornare lectus sit ametornare lectus sit ametornare lectus sit amet
          td.text-center 25 000
        tr
          td Стандартный монтаж faucibus ornare suspendisse sed.
          td.text-center 55 000
    h3 Перечень материалов входящих в стандартную установку
    ul 
      li Turpis egestas integer eget aliquet nibh praesent tristique magna sit. 
      li Consequat semper viverra nam libero. 
      li Cras sed felis eget velit aliquet sagittis. Orci dapibus ultrices in iaculis nunc sed augue lacus. Sagittis orci a scelerisque purus semper eget. Malesuada fames ac turpis egestas maecenas pharetra convallis posuere morbi. Vulputate enim nulla aliquet porttitor lacus. Tincidunt nunc pulvinar sapien et. Nisi est sit amet facilisis. Tellus mauris a diam maecenas. Quisque id diam vel quam elementum.
      li Nullam ac tortor vitae purus faucibus ornare suspendisse sed.
      li Turpis egestas integer eget aliquet nibh praesent tristique magna sit. 
      li Consequat semper viverra nam libero. Cras sed felis eget velit aliquet sagittis. 
      li Orci dapibus ultrices in iaculis nunc sed augue lacus. Sagittis orci a scelerisque purus semper eget. Malesuada fames ac turpis egestas maecenas pharetra convallis posuere morbi. Vulputate enim nulla aliquet porttitor lacus. Tincidunt nunc pulvinar sapien et. Nisi est sit amet facilisis. Tellus mauris a diam maecenas. Quisque id diam vel quam elementum.
    h3 Ответы на самые популярные вопросы
      .x-accordion-item 
        .x-accordion-item-header
          span Что такое микроклимат в помещении?
          span.x-accordion-item-toggler
        .x-accordion-item-body
          hr
          p Dictumst quisque sagittis purus sit. Maecenas sed enim ut sem. Varius sit amet mattis vulputate enim nulla aliquet. Arcu dictum varius duis at consectetur lorem donec. Leo vel orci porta non. Amet nulla facilisi morbi tempus. Eleifend donec pretium vulputate sapien nec sagittis aliquam malesuada. Viverra maecenas accumsan lacus vel facilisis volutpat est. Magna ac placerat vestibulum lectus mauris ultrices eros in cursus. Dui ut ornare lectus sit amet. Nullam ac tortor vitae purus faucibus ornare suspendisse sed.
      .x-accordion-item 
        .x-accordion-item-header
          span Что такое микроклимат в помещении?
          span.x-accordion-item-toggler
        .x-accordion-item-body
          hr
          p Dictumst quisque sagittis purus sit. Maecenas sed enim ut sem. Varius sit amet mattis vulputate enim nulla aliquet. Arcu dictum varius duis at consectetur lorem donec. Leo vel orci porta non. Amet nulla facilisi morbi tempus. Eleifend donec pretium vulputate sapien nec sagittis aliquam malesuada. Viverra maecenas accumsan lacus vel facilisis volutpat est. Magna ac placerat vestibulum lectus mauris ultrices eros in cursus. Dui ut ornare lectus sit amet. Nullam ac tortor vitae purus faucibus ornare suspendisse sed.
      .x-accordion-item 
        .x-accordion-item-header
          span Что такое микроклимат в помещении?
          span.x-accordion-item-toggler
        .x-accordion-item-body
          hr
          p Dictumst quisque sagittis purus sit. Maecenas sed enim ut sem. Varius sit amet mattis vulputate enim nulla aliquet. Arcu dictum varius duis at consectetur lorem donec. Leo vel orci porta non. Amet nulla facilisi morbi tempus. Eleifend donec pretium vulputate sapien nec sagittis aliquam malesuada. Viverra maecenas accumsan lacus vel facilisis volutpat est. Magna ac placerat vestibulum lectus mauris ultrices eros in cursus. Dui ut ornare lectus sit amet. Nullam ac tortor vitae purus faucibus ornare suspendisse sed.
      .x-accordion-item 
        .x-accordion-item-header
          span Что такое микроклимат в помещении?
          span.x-accordion-item-toggler
        .x-accordion-item-body
          hr
          p Dictumst quisque sagittis purus sit. Maecenas sed enim ut sem. Varius sit amet mattis vulputate enim nulla aliquet. Arcu dictum varius duis at consectetur lorem donec. Leo vel orci porta non. Amet nulla facilisi morbi tempus. Eleifend donec pretium vulputate sapien nec sagittis aliquam malesuada. Viverra maecenas accumsan lacus vel facilisis volutpat est. Magna ac placerat vestibulum lectus mauris ultrices eros in cursus. Dui ut ornare lectus sit amet. Nullam ac tortor vitae purus faucibus ornare suspendisse sed.
    h3 Наши работы по монтажу
      include _completed-works-slider.pug
  include _contact-block2.pug